body{
    background-color: rgb(227, 212, 228);
}
img{
    float: right;
    padding: 15px;
}
.names{
    text-align: center;

}

table,
  th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

.city img{    
    float: left;
    padding-top: 50px;
    /* width: 80%; */
}
.city p{
    text-align: left;
    margin-left: 120px;
}
.city h4{
    margin-left: 120px;
}
  
table.a {
    table-layout: auto;
    width: 80%; 
    margin-left: 15px; 
}
.places img{
    width: 50%;
} 


@media only screen and (min-width:689px) and (max-width:992px){
    .box1, .box3 img{
        float: right;
        padding: 1em;
    }
    .box2 img{
        float: left;
    }
    .places{
        display: flex;
        flex-direction: column;
    }
    .box1, .box2, .box3{
        width: 80%;
    }
    .city{
        width: 100%;
    }
    .city p{
        text-align: left;
        margin-left: 120px;
    }
    .city h4{
        margin-left: 120px;
    }
    .city img{    
        float: left;
        padding-top: 50px;
        width: 250px; 
        height: 200px;
    }
    .name-row img{
        width: 250px;
    }
    
}
@media only screen and (max-width:688px){
    .box2 img{
        float: left;
    }
    .box1, .box3 img{
        float: right;
        padding: 1em;
    }
}
@media (min-width:992px){
    .city img{    
        float: left;
        padding-top: 50px;
        /* width: 80%; */
    }
    .city p{
        text-align: left;
        margin-left: 120px;
    }
    .city h4{
        margin-left: 120px;
    }
      
    table.a {
        table-layout: auto;
        width: 80%; 
        margin-left: 15px; 
    }
    .places img{
        width: 50%;
    } 
    
}